/* You can add global styles to this file, and also import other style files */

 :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {    
    text-align: center;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #github-logo {
    height: 50px;
    /* width: 100%; */
    margin: 0;
    /* border: solid 1px red; */
  }

  .toolbar #firebase-logo {
    height: 30px;
    margin: 0 15px 5px 15px;
    /* border: solid 1px red; */
  }  

  #menu-hamburguer{
    font-size: 30px;
    cursor: pointer;
  }

  .toolbar #github-logo:hover,
  .toolbar #firebase-logo:hover,
  .toolbar #menu-hamburguer:hover{
    opacity: 0.8;
  } 

  .content {
    display: flex;
    margin: 82px 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  .box{
    /* border: solid 1px red; */
    height: 100vh;
    width: 100%;
    position: fixed;
    
  }

  body{
    margin: 0;
    padding: 0;
  }

  .p-breadcrumb{
    /* border: solid 3px red; */
    margin: 0 5px 0px 5px;    
  }


.col9Style img{ 
  /* width: 70%; */
  height: 100%;
  max-width: 100%;
  margin: 50px 0 0 10px;   
  /* border: solid 3px red; */
}

body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.mainOpen{
  margin-left: 200px;
  /* border: solid 3px red; */
}

.sidenav {
  height: 100%;
  width: 200px;
  position: absolute;
  z-index: 9;
  /* top: 0; */
  left: -200px;
  background-color: rgba(25, 118, 210, 0.3);
  overflow-x: hidden;
  transition: 0.5s;
  padding: 0 0 0 3px;
  /* border: solid 3px red; */

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#main {
  padding-top: 50px;
  transition: margin-left .5s;
  padding: 0px;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



#space{
  height: 65px;
  width: 100%;
  /* border: solid 3px red;  */
}

#fundoMenu{
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  /* background-color: rgba(0,0,0,0.5); */
  position: absolute;
  z-index: -1;  
}

.zIndex{
  z-index: 0 !important;
}

.toolbar{
  position: fixed;
  top: 0;
  padding-left: 15px;
  z-index: 3;
}



/*
.col3Style{
  /* width: 25%; */
  /* border: solid 1px red; */
  /* padding: 5px; */
  /* float: left; */
  /* height: 100vh; */
  /* overflow: auto; */
  /* margin-top: 5%;   
}
*/


/* .sidenav a:hover {
  color: #ee0909;
} */

/* .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px; 
  margin-left: 50px;
} 
*/

/*
.col9Style{
  
  
  /* width: 100%; */
  /* padding: 5px; */
  /* border: solid 1px green; */
  /* float: left; */
  /* margin-top: 5%; 
}

/*   
  p-panelmenu-content	{
    /* padding: 0;
    margin: 0;     
    border: solid 3px red;
    /* width: 90%; */
    /* background: #212121; */
    /* background-color: lightblue; 
  } 
*/
