<div class="breadcrumb_home">
    <p-breadcrumb [home]="home"></p-breadcrumb>
</div>

<div class="tela_home">
    <!-- <span>Welcome</span> -->
    <h1>Projeto Angular | Menu Lateral + BreadCrumb</h1>
    <h2>UNASP - Campus São Paulo | 2021</h2>
    <h3>Disciplina: Interação Humano-Computador</h3>
    <h4>Professor: Thiago Silva | Aluno: Eduardo Alves - RA 045909 </h4>    
</div>
<img src="./assets/imagens_home/Angular.png" id="Angular" alt="Logo Angular">
<img src="./assets/imagens_home/Selfie.jpeg" id="Eduardo" alt="Selfie Eduardo">


